resource "google_secret_manager_secret_version" "openai_api_key_version" {
  secret      = google_secret_manager_secret.openai_api_key.id
  secret_data = ""
}

resource "google_secret_manager_secret_version" "qdrant_api_key_version" {
  secret      = google_secret_manager_secret.qdrant_api_key.id
  secret_data = ""
}

resource "google_secret_manager_secret_version" "qdrant_url_version" {
  secret      = google_secret_manager_secret.qdrant_url.id
  secret_data = ""
}

resource "google_secret_manager_secret_version" "slack_token_version" {
  secret      = google_secret_manager_secret.slack_token.id
  secret_data = ""
}

resource "google_secret_manager_secret_version" "slack_signing_secret_version" {
  secret      = google_secret_manager_secret.slack_signing_secret.id
  secret_data = ""
}

resource "google_secret_manager_secret_version" "slack_bot_user_id_version" {
  secret      = google_secret_manager_secret.slack_bot_user_id.id
  secret_data = ""
}

resource "google_secret_manager_secret_version" "trello_api_key_version" {
  secret = google_secret_manager_secret.trello_api_key.id
  secret_data = ""
}

resource "google_secret_manager_secret_version" "trello_api_secret_version" {
  secret = google_secret_manager_secret.trello_api_secret.id
  secret_data = ""
}

resource "google_secret_manager_secret_version" "trello_token_version" {
  secret = google_secret_manager_secret.trello_token.id
  secret_data = ""
}

# resource "google_secret_manager_secret_version" "google_project_id_version" {
#   secret      = google_secret_manager_secret.google_project_id.id
#   secret_data = "agno-agents"
# }

# resource "google_secret_manager_secret_version" "google_client_id_version" {
#   secret      = google_secret_manager_secret.google_client_id.id
#   secret_data = ""
# }

# resource "google_secret_manager_secret_version" "google_client_secret_version" {
#   secret      = google_secret_manager_secret.google_client_secret.id
#   secret_data = ""
# }
