# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Test and coverage outputs
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables and config
.env

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# MyPy
.mypy_cache/

# PyInstaller
*.spec

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform plan files
*.tfplan

# Sensitive override files
*.tfvars.json

# Local-only config
.terraform/
.terraform.lock.hcl

# Credentials
token.json
secrets_version.tf
apis.tf

# Unused agents
gmail_agent.py

# Docs
submission.docx
